@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
	display:block;
	color:#000;
}
body{
    font-family:"微软雅黑";
	background-color:#efefef;
}
hover{
	cursor:pointer;
}
#top{
	width:1920px;
	height:120px;
	background-image:url(../images/head-13.png);
	background-repeat:no-repeat;
	margin: 0 auto;
}

#main{
    padding-top:8px;
    width:1910px;
	height:900px;
	border:1px solid #d2d2d2;
    border-radius:0px 0px 4px 4px;

	background-color:#efefef;
	padding-top:5px; 
	padding-left:5px;
	padding-right:5px;
	margin: 0 auto;
	box-shadow: 0px 2px  2px #c2c2c2;
	}

.main_left{
 	width:366px;
	float:left; 
	margin-right: 4px;
	}
	
.main_middle{
 border-radius:4px 4px 0px 0px;
    width:1167px;
	float:left;
	margin-right: 4px;
	border:1px solid #CCCCCC;
}
.main_middle_main{
	height: 800px;

}
.main_right{
	width:366px;
	float:left;
	
}
.main_left_top{
    height:50px;
	background-color:#3285ff;
	border-radius: 6px 6px 0px 0px;
	background-image:url(../images/nav5.png);
	background-repeat:no-repeat;
	}
.left_top_l{
	width:40px;
	height:40px;
	float:left;
	padding-top: 5px;
    padding-left: 6px;
	}
h1{ font-family:"微软雅黑";
	font-size:20px;
	color:#FFFFFF;
	line-height:40px;
	font-weight:bold;
	padding-top: 5px;
    padding-left: 6px;
 	}

.main_left_down{
    height:840px;
	overflow-y:scroll;
	overflow-x:hidden;
    border: 1px solid #cccccc;
	}
.city{
	height:90px;
	background-color:#FFFFFF;
	border-bottom:1px solid #e1e4e9;
    }
.city_inner{
	 width:338px;
	 height:59px;
	 padding:18px;
	 color:#0033FF;

}
.city_img{ float:left; padding-top: 4px;}	
h2{ float:left;
    font-family:"微软雅黑";
	font-size:20px;
	line-height:20px;
	font-weight:bold;
	color:#333333;
	padding-left:10px;
	width:110px;}

   
h4{ float:left;
    font-family:"微软雅黑";
	font-size:18px;
	line-height:50px;
	padding-left:10px;
	width:100px;
	color:#0099FF;
	}
	
.main_middle_top{
	height:50px;
	background-color:#FFFFFF;
	
	}
.main_middle_top_a{
	float:left;
    font-family:"微软雅黑";
	font-size:20px;
	line-height:40px;
	font-weight:bold;
	color:#333333;
	width:400px;
	padding-left:10px;
	padding-top: 5px;
}

.main_middle_top_b{
	height:40px;
    text-align:center; 
	float:left;
    font-family:"微软雅黑";
	font-size:14px;
	line-height:40px;
	font-weight:bold;
	color:#666666;
	width:118px;
	margin-top:5px;
	background-image:url(../images/button.png);
}
.main_middle_top_c{
	float:left;
    font-family:"微软雅黑";
	font-size:16px;
	line-height:50px;
	
	color:#333333;
	width:200px;
	padding-left:200px;
	
}

.city a:hover{ background-color:rgba(229,229,229,0.5);
       		border-radius:30px 0px 0px 0px;
			transition: all 0.7s;
			border:1px #dededf solid;
 }

.main_middle_top_b a:hover{
		background-color:#4ebae2;
		color:#FFFFFF;
}


.main_right_top{height:50px;
	background-color:#3285ff;
	border-radius: 6px 6px 0px 0px;
	background-image:url(../images/nav5.png);
	}
.right_top_l{
	width:40px;
	height:40px;
	float:left;
	padding-top: 5px;
    padding-left: 6px;
	}
h1{ font-family:"微软雅黑";
	font-size:20px;
	color:#FFFFFF;
	line-height:40px;
	font-weight:bold;
	padding-top: 5px;
    padding-left: 6px;
 	}

.main_right_b{
	height:380px;
	border:solid 1px #CCCCCC;
	background-color:#FFFFFF;
	font-size:16px;
	font-family:"微软雅黑";
	line-height:34px;
	overflow-y: scroll;
    overflow-x: hidden;
}
p{width:320px;
  padding-left:23px;
  padding-top:15px;
 
  }
  
.main_right_c{
  height:130px;
  
  background-color:#FFFFFF;
  margin-top:7px;
 border: 1px solid #DBD4D4;

}
.main_right_c_a{
border: 1px solid #F8F8F8;
height:40px;
}
.rignt_c_1{
width:87px;
height:40px;
float:left;
line-height:40px;
text-align:center;

font-weight:bold;

}
.rignt_c_2{
height:40px;
width:55px;
float:left;

line-height:40px;
text-align:center;
}

.rignt_c_2  a:hover{
background-color:#a6cc0c;
color:#FFFFFF;}

.main_right_c_b{

font-size:14px;
line-height:20px;
padding-top:10px;
padding-left:10px;
background-color:#FFFFFF;
height:90px;}

.main_right_d{
height: 312px;
 background-color:#efefef;
border: 1px solid #DBD4D4;
padding-top: 7px;
}  
  

.main_right_d_top{
background-color:#FFFFFF;
border: 1px solid #F8F8F8;
height: 40px;
}
.main_right_d_top_l{

font-weight:bold;
line-height:40px;
padding-left:20px;
color:#000000;

}
#foot{ 
margin:0 auto;
width:1920px;

height:60px;
line-height:60px;
text-align:center;

}
.city_r_f1{
color:#FFFFFF;
float:left;
border-radius:4px;
background-color:#54bcef;
width:64px;
height:24px;
margin-top:10px;
text-align: center;
margin-left:10px;
background-image:url(../images/bpm2.5.png);
background-repeat:no-repeat;
color:#002c91;
}
.city_r_f2{
color:#484040;
text-align:center;
padding-top:18px;
height:24px;
width:74px;
float:left;

font-size: 12px;
}


.main_middle_foot{
line-height:40px;
text-align: center;}

#middle_div{
float:left;
width:323px;
height:442px;
border: 2px solid #4ebae2;
background-color:#FFFFFF;
border-radius: 6px 6px 6px 6px;

}
.m_div_top{
width:323px;
height:60px;

}
.city_name{
width:90px;
float:left;
font-size:20px;
font-weight:bold;
line-height:60px;
}
.more{
float:left;
font-size:14px;
font-weight:bold;
line-height:70px;
color:#44b5df;
padding-left:7px;
padding-top:5px;
}
.m_div_top img{
float:left;
width:25px;
height:25px;
padding-left:86px;
padding-top:15px;
}
.m_div_top_img{
float:left;
height:60px;
width:115px;
}
.m_div_middle{


width: 323px;
height: 215px;}

.m_div_middle_l{
width:60px;
height:230px;
float:left;
padding-left: 36px;

}
.today{
float:left;
width:60px;
height:25px;
line-height:25px;
text-align:center;
font-size:14px;
font-weight:bold;


}
.today_img{
width: 51px;
height: 51px;
margin-top: 70px;
padding-left: 4px;

}


.today_n{
    color: #fb6b22;
    font-weight: bold;
    line-height: 20px;
    padding-top: 5px;



}

.today_CD{
width: 60px;
height: 25px;

float: left;
font-size: 14px;
margin-top: 5px;
text-align: center;
line-height: 25px;
background-image:url(../images/bpm2.5.png);
color:#002c91;


}
.m_div_foot{
width: 302px;

background-color: #f7f7f7;
border: 1px solid #efefef;
border-radius: 4px 4px 4px 4px;
font-size: 15px;
line-height: 20px;
overflow-y: scroll;
overflow-x: hidden;
height: 140px;
margin: 0 auto;
}
.m_div_foot p{
width:275px;
height:54px;
padding-left: 15px;
padding-top: 15px;

}

.m_div_line{
position: relative;
top: -158px;
left: 26px;
background-color: #efefef;
height: 1px;
width: 268px;
}
#middle_div{
    position: relative;
    top: -40px;
    left: 1515px;
    margin: -540px;


}
.span{
color:#19046c;
float:left;
font-size:14px;
padding-left:10px;
width:290px;
line-height:30px;
}
h3{
 	font-family:"微软雅黑";
	font-size:20px;
	line-height:20px;
	font-weight:bold;
	color:#a8dc43;
	
   }

.number-b{
float:left;
color:#f3cb00;
}

.number-a{
float:left;
color:#56c400;
}

.number{
   padding-left:222px;
}
   
.city_r_f3{
color:#FFFFFF;
float: left;
background-color: #FFCC00;
width: 70px;
height: 26px;
margin-top: 7px;
text-align: center;
margin-left: 26px;
font-size: 12px;
line-height: 26px;
background-image:url(../images/button2.png);
background-repeat:no-repeat;

}/*三级预警,*/


.city_r_f4{
color:#FFFFFF;
float: left;
background-color: #FFCC00;
width: 70px;
height: 26px;
margin-top: 7px;
text-align: center;
margin-left: 26px;
font-size: 12px;
line-height: 26px;
background-image:url(../images/button4.png);
background-repeat:no-repeat;

}/*二级预警,*/
.city_r_f5{
color:#FFFFFF;
float: left;
background-color: #FFCC00;
width: 70px;
height: 26px;
margin-top: 7px;
text-align: center;
margin-left: 26px;
font-size: 12px;
line-height: 26px;
background-image:url(../images/button5.png);
background-repeat:no-repeat;

}/*一级预警*/

.number-a{
float:left;
color:#56c400;
}/*0-50,优*/
.number-b{
float:left;
color:#f3cb00;
}/*51-100,良*/
.number-c{
float:left;
color:#ff9300;
}/*101-150,轻度污染*/
.number-d{
float:left;
color:#ff2b19;
}/*151-200,中度污染*/
.number-e{
float:left;
color:#d20485;
}/*201-300,重度污染*/
.number-f{
float:left;
color:#94020e; 
} /*>300,严重污染*/

.number-0{
float:left;
margin: 0 5px 0 5px;
color:#999;
}


.city_M{

background-color:rgba(0,98,201,0.1);
border-radius:30px 0px 0px 0px;
border:1px #dededf solid;		
}

.main_middle_top_M {

	height:40px;
    text-align:center; 
	float:left;
    font-family:"微软雅黑";
	font-size:14px;
	line-height:40px;
	font-weight:bold;
	color:#FFFFFF;
	width:118px;
	margin-top:5px;
	background-color:#4ebae2;
	background-image: url();
}
.main_middle_top_M a{
color:#FFFFFF;}

.rignt_c_M{
height:40px;
width:55px;
float:left;

line-height:40px;
text-align:center;
background-color:#a6cc0c;
color:#FFFFFF;
}
.rignt_c_M a{
color:#FFFFFF;}


/*不可见*/
.nosee {
	display: none;
}

/*文字不被选中*/
.noselect {
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:pointer;
}
